@import "tailwindcss";
@plugin "tailwindcss-animate";


:root {
  --color-primary: #46B1C9;    /* Azul fuerte */
  --color-secondary: #84C0C6; /* Azul claro */
  --color-accent: #9FB7B9;    /* Gris azulado */
  --color-neutral: #BCC1BA;   /* Neutro */
}

/* Variante dark */
@custom-variant dark (&:is(.dark *));
.dark {
  --color-primary: #2D8CA2;
  --color-secondary: #5C9AA0;
  --color-accent: #7A8C8E;
  --color-neutral: #8D918B;
}



